body {
  background: rgb(225, 221, 252);
  background: linear-gradient(
    90deg,
    rgba(225, 221, 252, 1) 48%,
    rgba(211, 247, 255, 1) 100%
  );
}

.app {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.grid-display {
  display: grid;
  padding: 16px;
  flex-direction: row;
  grid-template-columns: repeat(2, 1fr);
}

.chart-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px lightgrey;
  padding: 70px;
  height: auto;
  margin: 10px;
}

.title-doc {
  font-size: 40px;
  display: inline-block;
  margin: 30px;
  padding: 16px;
}
